<!doctype html>
<html lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="" />
  <meta name="ROBOTS" content="index, follow">
  <meta name="description" content="Cultcode - Inštitút vizuálneho umenia">
  <meta name="keywords" content="cultcode,art,design,research">
  <meta name="author" content="Cultcode"> 
  <link rel="sitemap" type="application/xml" title="Sitemap" href="https://cultcode.com/sitemap.xml" />
  <link rel="stylesheet" href="style.css">
<body>


      <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

      {% include header.html %}

      {{ content }}
	  
	  {% include info.html %}
</body>
</html>
